body {
    background-color: #f7fff7;
    font-family: 'Segoe UI', sans-serif;
    color: #2e7d32;
    margin: 20px;
}

h2 {
    color: #388e3c;
    font-weight: 600;
}

button {
    background-color: #a5d6a7;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    color: #1b5e20;
}

button:hover {
    background-color: #81c784;
}

#map {
    border: 3px solid #a5d6a7;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    height: 700px;
}